.storeContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

@media screen and (max-width: 800px) {
  .storeContainer {
    flex-direction: column;
  }
  .storeContainer > div {
    width: 100%;
  }
}
